<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">

<body>

<h2>Veterinarians</h2>

<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Specialties</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${listVets}">
        <td th:text="${vet.firstName + ' ' + vet.lastName}"></td>
        <td>
            <div th:each="specialty, it : ${vet.specialities}">
                <span th:text="${specialty.description + ', '}" th:unless="${it.last}"/>
                <span th:text="${specialty.description}" th:if="${it.last}"/>
            </div>

            <span th:if="${vet.specialities.size() == 0}">none</span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>